body {
    margin: 0;
    /*background-color: #D9F0FF;*/
    background-color: #E5FFF7;
    font-family: 'Ubuntu', sans-serif;
}

.news-container, .data-display-container, .main {
    /*background-color: #E5FCFF;*/
    background-color: white;
    border: 1px solid #162521;
    border-radius: 5px;
}

button {
    font-family: 'Ubuntu', sans-serif;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container {
    margin-top: 1.3em;
    display: flex;
    flex-flow: row wrap;
    width: 84%;
    /*justify-content: space-around;*/
}

.top-button-bar {
    display: flex;
    flex-direction: column;
}

.data-button-bar button {
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    margin: 3px;
}
.data-button-bar button:hover {
    font-weight: bold;
    cursor: pointer;
}

.top-button-bar button {
    border: 1px solid black;
    border-right: none;
    background-color: white;
    width: 5em;
}

button img {
    width: 100%;
}

.news-panel {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: start;
    margin-left: 5em;
    margin-top: 1.3em;
}

.news-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15em;
    overflow-y: scroll;
}

.news-item {
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 2px;
}

.news-item:hover {
    background-color: #B9F3F3;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.news-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

.news-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.loader {
    border: 16px solid #f3f3f3;
    /*border: 16px solid #162521;*/
    border-top: 16px solid #66D7D1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.data-display-container {
    position: relative;
    padding: 0.5em;
    margin-right: 1.3em;
}

.data-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0%;
}

.data-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.table-header:hover {
    background-color: white;
    cursor: auto;
}

.table-date {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*.coin-item:hover {
    font-weight: bold;
}*/

.table-container {
    overflow-x: auto;
}

.panel-container {
    width: 30%;
}

.panel-show {
    display: inline;
}

.panel-hide {
    display: none;
    background-color: red;
}

.main {
    width: 100%;
    padding: 0.5em;
}

.coin-item {
    padding: 5px;
    margin: 2px;
}

.panel-nav button {
    border: 1px solid #162521;
    border-radius: 2px;
    border-bottom: none;
    background-color: white;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #162521;
    color: white;
    align-items: center;
}

.logo img {
    width: 20%;
    margin-left: 7px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 15%;
    font-family: 'Geo', sans-serif;
    font-size: 1.5em;
}

.greeting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*width: 10%;*/
    font-family: 'Geo', sans-serif;
    font-size: 1.2em;
    padding-right: 1em;
}

.greeting div {
    margin-right: 7px;
}

.greeting img {
    width: 50px;
    height: 50px;
}
