.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container {
    display: flex;
    flex-direction: row;
}

.news-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100px;
}

.news-item {
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.data-display-container {
    position: relative;
}

.data-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0%;
}

.coin-item:hover {
    font-weight: bold;
}
