body {
    margin: 0;
    background-color: #E5FFF7;
    font-family: 'Ubuntu', sans-serif;
}
button {
    font-family: 'Ubuntu', sans-serif;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: space-around;
}

.top-button-bar {
    display: flex;
    flex-direction: column;
}

.top-button-bar button {
    border: 1px solid black;
    border-right: none;
    background-color: white;
    width: 5em;
}

button img {
    width: 100%;
}

.news-panel {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: start;
    margin-left: 5em;
}

.news-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 2px solid black;
    background: white;
    height: 15em;
    overflow-x: scroll;
}

.news-item {
    width: 25%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.news-item:hover {
    background-color: #E5FFF7;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.loader {
    border: 16px solid #f3f3f3;
    /*border: 16px solid #162521;*/
    border-top: 16px solid #66D7D1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.data-display-container {
    position: relative;
    border: 2px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
}

.data-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 600px;
    height: 400px;
    top: 0%;
}

.data-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.coin-item:hover {
    font-weight: bold;
}

.panel-container {
    width: 30%;
    padding: 0.5em;
}

.main {
    border: 2px solid black;
    width: 100%;
    /*height: 100%;*/
    background-color: white;
    padding: 0.5em;
}

.coin-item {
    padding: 5px;
    margin: 2px;
}

.panel-nav button {
    border: 1px solid black;
    border-bottom: none;
    background-color: white;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #162521;
    color: white;
    align-items: center;
}

.logo img {
    width: 20%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    padding-left: 1em;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 15%;
    font-family: 'Geo', sans-serif;
    font-size: 1.5em;
}

.greeting {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    font-family: 'Geo', sans-serif;
    font-size: 1.2em;
}

.greeting img {
    width: 50%;
}

.greeting {
    padding-right: 1em;
}
